{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}

    <h1>Все новости и статьи</h1>

    <h3>{% current_time '%b %d %Y' %}</h3>

    <h3>Количество постов: {{ posts_list|length }} из {{ paginator.count }}</h3>
    <hr>

    {% if perms.portal.add_post %}
        {% if post.category_type == 'NW' %}
            <a href="{% url 'news_create' %}">Добавить новость</a>
        {% else %}
            <a href="{% url 'articles_create' %}">Добавить новость</a>
        {% endif %}
    {% endif %}

    {% if posts_list %}
        <table align="center">
            <tr>
                <td>Заголовок</td>
                <td>Описание</td>
                <td>Дата публикации</td>
                <td>Тип</td>
                <td>Категория</td>
                {% if perms.portal.change_post or perms.portal.delete_post %}
                <td>Действия</td>
                {% endif %}
            </tr>

            {% for post in posts_list %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.text|censor|truncatechars:20 }}</td>
                <td>{{ post.date_create|date:'d M Y' }}</td>
                <td>{{ post.category_type }}</td>
                <td>
                    {% for n in post.post_category.all %}
                        {{ n.name }}
                    {% endfor %}
                </td>
                <td>
                    {% if perms.portal.change_post %}
                        {% if post.category_type == 'NW' %}
                            <a href="{% url 'news_edit' pk=post.id %}">Изменить</a>
                        {% else %}
                            <a href="{% url 'articles_edit' pk=post.id %}">Изменить</a>
                        {% endif %}
                    {% endif %}
                    {% if perms.portal.delete_post %}
                        {% if post.category_type == 'NW' %}
                            <a href="{% url 'news_delete' pk=post.id %}">Удалить</a>
                        {% else %}
                            <a href="{% url 'articles_delete' pk=post.id %}">Удалить</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td><a href="{{ post.id }}">Подробнее</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Постов нет!</h3>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
